@tailwind base;
@font-face {
  font-family: DM Sans;
  font-weight: 400;
  src: url(/fonts/dmsans/dmsans-regular-webfont.woff) format("woff");
}
@font-face {
  font-family: DM Sans;
  font-weight: 500;
  src: url(/fonts/dmsans/dmsans-medium-webfont.woff) format("woff");
}
@font-face {
  font-family: DM Sans;
  font-weight: 600;
  src: url(/fonts/dmsans/dmsans-bold-webfont.woff) format("woff");
}
@tailwind components;
@tailwind utilities;
